<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firebase_message_demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
				<key>dateExpires</key>
				<string>2024/11/9</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E8CFCCF1D22AA48ACFD300ACC0E673F4EB1B6FE2</string>
						<key>dateExpires</key>
						<string>2024/11/9</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AJ8XC5CLNG</string>
						<key>name</key>
						<string>Yu De Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AJ8XC5CLNG.com.dino.firebaseMessageDemo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AJ8XC5CLNG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>81866303-a9cb-4b60-9d1d-53136d18bbc7</string>
				<key>dateExpires</key>
				<string>2024/11/9</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.dino.firebaseMessageDemo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AJ8XC5CLNG</string>
				<key>name</key>
				<string>Yu De Chen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
