<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAbPQJZNCgEUBJIO8zz7LSTAo_u-LHEkg</string>
	<key>GCM_SENDER_ID</key>
	<string>282788916457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMessageDemo</string>
	<key>PROJECT_ID</key>
	<string>firebase-message-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-message-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282788916457:ios:a879cd61de5a5dc34ed478</string>
</dict>
</plist>